{% extends 'base.html.twig' %}
{% block body %}
	<!-- Preloader Start -->
    <main>

        <!-- Hero Start-->
     
        <!--Hero End -->
        <!-- Services Area Start -->
        <div class="services-area section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>Services que nous fournissons</span>
                            <h2>Services de haute performance pour toutes les entreprises.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">L'audit</a></h5>
                                <div class="">
								<ul class="unordered-list text-left">
									<li>Audit légal</li>
									<li>Audit contractuel</li>
									<li>Audit des liasses des consolidations</li>
									<li>Commissariat aux apports et à la fusion</li>
									<li>Audit des risques</li>
								</ul>
							</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">L'assistance comptable, fiscale, sociale et juridique</a></h5>
                                <div class="">
								<ul class="unordered-list text-left">
									<li>Tenue de la compatabilité</li>
									<li>Surveillance comptable</li>
									<li>Assistance à la consolidation</li>
									<li>Retraitements IFRS/US GAAP</li>
									<li>Assistance aux entreprises lors d'un contrôle fiscal</li>
									<li>Assistance à l'élaboration de la paie</li>
									<li>Assistance à l'élaboration des déclarations sociales et fiscales</li>
								</ul>
							</div>
                            </div>
                            </div>
                        </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Le conseil en organisation et en gestion des risques</a></h5>
                                <div class="">
								<ul class="unordered-list text-left">
									<li>Optimisation de la performance opérationelle</li>
									<li>Elaboration de manuels de procédures</li>
									<li>Conseil pour le choix et l'implémentation des systémes d'information</li>
									<li>Analyse et optimisation des structures de coûts</li>
									<li>Gestion du financement et de la trésorerie</li>
									<li>Assitance aux entreprises en difficultés</li>
								</ul>
							</div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">L’évaluation des entreprises, conseil en transmission, transformation des entreprises</a></h5>
                                <div class="">
								<ul class="unordered-list text-left">
									<li>Audit d'aquisition/due diligence</li>
									<li>Aide à l'élaboration de business plan</li>
									<li>Etude et réalisation des opérations de fusion</li>
									<li>Réorganisation stratégique</li>
									<li>Etude et réalisation des opérations de transmission de patrimoine</li>
									<li>Croissance et développement</li>
									<li>Expansion à l'international</li>
								</ul>
							</div>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">L'outsourcing comptable</a></h5>
                                <p>Grâce aux progrés de la dématérialisation des documents et du haut débit, notre cabinet est adapté au recours aux procédures de traitement délocalisées au service des entreprises ainsi qu'au service des experts comptables et dans le cadre d'une charte de qualité</p>
                                <div class="">
                                <ul class="unordered-list text-left">
                                    <li>Comptabilité générale</li>
                                    <li>Comptabilité clients-facturation, saisie, recouvrement</li>
                                    <li>Comptabilité fournisseurs</li>
                                    <li>Consolidation/reporting</li>
                                    <li>Délégation et gestion de la paie</li>
        
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Domiciliation</a></h5>
                                <div class="">
                                <ul class="unordered-list text-left">
                                    <li>Boite postale</li>
                                    <li>Gestion de courrier</li>
                                    <li>Permanence téléphonique</li>
                                    <li>Bureaux partagés</li>
                                    <li>Carte visite et cachet</li>
                                    <li>Creation d’entreprise clé en main</li>
                                    <li>Assistance juridique</li>
                                    <li>Assistance fiscale</li>
                                    <li>Assistance comptable</li>
                                    <li>Recouvrement client</li>

        
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                    
        </div>
        <!-- Services Area End -->

    </main>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
 {% endblock %}